
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 1024px;
	height:540px;
    border-radius:50px;
	border-width:2px;
	border-style:solid;
	border-color:#89cff0;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Create three equal columns that floats next to each other */
.columnleft {
    float: left;
    width: 330px;
    height: 540px; 
}
.columnright {
    float: left;
    width: 330px;
    height: 540px; 
}
.columncenter {
	float: left;
	text-align: justify;
	border-radius: 25px;
    border: 3px solid #8dd0f9;
    background-color: #fefefe;
    width: 330px;
    height: 570px; 
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.button1 {
    background-color: #FF4500; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.advertSearch{
	border-radius: 25px;
    border: 3px solid #8dd0f9;
    background-color: #fefefe;	
    background-image: url(Images/Search.jpg);
    width: 310px;
    height: 40px;
	margin-top :100px;
	margin-left:30px;
}
.billboard{
    border: 3px solid #8dd0f9;
    background-color: #fefefe;	
    width: 310px;
    height:120px;
	margin: 30px;
}
.ulModalStyle{
	list-style-type: none;
    margin: 5;
    padding:0;	
    border-radius:50px;
    text-align: center;
    overflow: hidden;
	background-color: #FFFFFF;
	}

.inputModalStyle{
	
	background: #FFFFFF;
	border-radius: 50%;
	height: 70px;
	width: 70px;
}
.titleModalStyle{
	text-align: center;
}
.pModalStyle{text-align: center;}